.switch{

    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;
}

.switch input{
    
    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;
}

.slider{

    transition: 0.4s;
    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;
}

.slider:before{

    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;

}

input:checked + .slider:before{
    transform: translateX(26px);
    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;
}

input:checked + .slider{
-webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
    transition: 0.4s;
} 