/* .Content{
width: 75%;
margin: auto;
justify-content: center; 

} */

/* .Content h1{
    font-family: NYCTA,sans-serif;
    font-weight: 700;
    letter-spacing: -.01rem;
    -ms-font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 1.75rem;
}

.Content p{
    font-family: Pitch,monospace;
    letter-spacing: -.01rem;
    -ms-font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-kerning: normal;
    font-kerning: normal;
} */